<ion-content>

    <div class="contenido">
      <!-- VOLVER ATRAS -->
      <ion-fab top left>
        <button ion-fab mini color="primary" (click)="volver()">
          <ion-icon name="md-arrow-round-back"></ion-icon>
        </button>
      </ion-fab>
        <!--OPCION ELEGIDA-->
        <p id="seccionTitulo" [ngClass]="tematicaElegida">SUBIR - Cosas {{tematicaElegida}} del edificio</p>

      <div class="datosCargaBox" *ngIf="!mostrarSpinner">
            <!--TITULO + IMAGEN DESCRIPTIVA-->
            <ion-list>
              <div>
                <ion-label class="tituloLabel" floating>Título</ion-label>
                <ion-input class="inputTitulo" type="text" [(ngModel)]="titulo" placeholder="Nombre" maxlength="20"></ion-input>
              </div>
              <!-- IMAGENES PREVIEW  -->
              <ion-grid>
                <ion-row class="imgContainer">
                    <ion-col *ngFor="let img of listImagenPreview" class="imagenAsubir">
                        <img *ngIf="img" class="imagen" [src]="img" alt="img">
                    </ion-col>
                </ion-row>
              </ion-grid>

            </ion-list>

            <!--OPCIONES DE SELECCION DE IMAGEN-->
            <ion-grid>
              <ion-row class="filaBotones">
                  <ion-col>
                      <button class="buttonCamara" ion-button
                              (click)="mostrar_camara()"
                              [disabled]="maximaCarga">
                          <ion-icon name="camera"></ion-icon>
                      </button>
                  </ion-col>
                  <ion-col>
                    <button class="buttonSubir" ion-button
                            (click)="crear_post()"
                            [disabled]=" titulo.length <= 1 || listImagenPreview.length <= 0 ">
                            <ion-icon class="iconSubir" name="ios-cloud-upload-outline"></ion-icon>
                    </button>
                  </ion-col>
              </ion-row>
            </ion-grid>
        </div>
        <!-- SPINNER -->
        <div *ngIf="mostrarSpinner" class="spinner">
          <img src="assets/imgs/spinner_white.png" alt="spinner">
        </div>
    </div>

</ion-content>
