<ion-content>
  <div class="contenido">
      <div class="body" *ngIf="!mostrarSpinner">
        <div class="introBox">
          <h3>BIENVENIDO!</h3>
          <p> <strong>Perfil:</strong> {{perfil}}<br>
        </div>
        <div class="introBox"></div>
        <div class="panelBotones">
          <!--OPCIONES DE SELECCION DE IMAGEN-->
          <ion-grid>
            <ion-row>
                <ion-col>
                    <button class="buttonCamara" ion-button
                            (click)="irTomarFoto()">
                        <ion-icon name="camera"></ion-icon>
                    </button>
                </ion-col>
                <ion-col>
                  <button class="buttonSubir" ion-button
                          (click)="irLista()">
                          <ion-icon class="iconSubir" name="md-images"></ion-icon>
                  </button>
                </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <button class="buttonLogout" ion-button
                (click)="cerrarSesion()">
                <ion-icon name="md-arrow-round-back"></ion-icon>
                <ion-icon id="userLogo" name="ios-person"></ion-icon>
        </button>
      </div>

      <!-- SPINNER -->
      <div *ngIf="mostrarSpinner" class="spinner">
        <img src="assets/imgs/spinner_white.png" alt="spinner">
      </div>
  </div>
</ion-content>
