<ion-content class="principal">
  <div class="contenido">
      <!-- VOLVER ATRAS -->
        <ion-fab>
          <button ion-fab mini color="primary" (click)="volver()">
            <ion-icon name="md-arrow-round-back"></ion-icon>
          </button>
        </ion-fab>

      <!-- CONTENIDO -->
      <div *ngIf="!mostrarSpinner">
          <div *ngIf="!noHayFotos" class="galeriaContenido">
            <!--BLOQUE DE INFORMACIÓN "card"-->
            <ion-card *ngFor="let item of imagenesMostrar">
              <ion-card-content [ngClass]="item.tematica">
                  <div class="imgBox">
                    <img class="imgSource" [src]=item.img[0]>

                    <div [id]="item.key" class="box_verMas" style="display:none;">
                      <img *ngIf="item.img.length > 1" class="imgSource_extra" [src]=item.img[1]>
                      <img *ngIf="item.img.length > 2" class="imgSource_extra" [src]=item.img[2]>
                    </div>

                    <button *ngIf="item.img.length > 1"
                            [id]="item.key" class="btn_verMas verMas_color" ion-button
                            (click)="verMas(item)">
                            <ion-icon [id]="item.key" class="icon_verMas">+</ion-icon>
                    </button>
                  </div>
                  <ion-card-title class="listaDeDatos">
                    <strong>Usuario:</strong> {{item.usuario}}<br>
                    <strong>Título:</strong> {{item.titulo}}<br>
                    <strong>Día:</strong> {{item.fecha}}<br>
                    <strong>Hora:</strong> {{item.hora}}hs.
                  </ion-card-title>
              </ion-card-content>
            </ion-card>

            <ion-infinite-scroll (ionInfinite)="doInfinite($event)"
                                 [enabled]="hayMasCarga">
               <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </div>
          <div *ngIf="noHayFotos">
            <br><br><br>
            <h1>NO HAY FOTOS CARGADAS!</h1>
          </div>
      </div>
  </div>
  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>
</ion-content>
